$def with (items,count)
<h1>
    <center>Awesome Everyday:)</center>
</h1>
<form action = "/" method = "post">
	<input type="text" name="keyword" />
	<input type="submit" value="Search Item" />
</form>
<p>
    To add new item,click <a href="item/new">here</a>
</p>
<p>
    <a href="/"><font color="green">Reload IndexPage</font></a>
</p>
<h3>Your todo list:</h3>
$if count > 0:
    $for item in items:
        <li>
            NO.$item['id'] <a href="delete/$item['id']"><font color="red">Delete</font></a>  $item['content']--------------->>><font face="verdana" color="blue">Created on $item['itemdate']</font>
            <br />
            <br />
        </li>
$else:
    <p><b>No relevant todo items</b></p>
    <p><a href="/">Return to IndexPage</a></p>

<hr />
<p>Salution to Aaron Swartz and all programmers...Thanks for creating such beautiful code world!</p>